
.smakentabel{
    border-collapse: collapse;
    border-radius: 1em;
    width: 100%;
    height: 20em;
    box-shadow: 10px 4px 44px -2px rgba(0,0,0,0.75);
    overflow: hidden;
}
.smakentabel thead tr {
    background-color: #d2ba6c;
    color: #ffffff;
    height: 2.5em;
    text-align: center;
}
.smakentabel tbody tr {
    border-bottom: 1px solid #dddddd;
    text-align: center;
}
.smakentabel tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}



 #kleur1{
     background-color: coral;
 }
#kleur2{
    background-color: #770107;
}

#kleur3{
    background-color: #c29c52;
}

.kaartenbox{
    display: flex;
    flex-wrap: wrap;
    margin: 5%;
}
.verkoopsbox{
    margin-top: 10px;

}

.verkoopskaart{
    display: flex;
    flex:auto;
    margin-right: 2em;
    border: .2em solid rgb(250, 209, 115);
    border-radius: 6px;
    background-color: rgba(251, 188, 40, 0.65);
    width: 30em;
    height: 15em;
    box-shadow: 10px 4px 44px -2px rgba(0,0,0,0.75);

}

.verkoopskaartafbeelding{
    display: flex;
    height: 100%;
    width: 40%;
    border-right: .1em solid  #fff3cd;
}

.verkoopskaartrechts{
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    border-radius: 6px;

}
.verkoopskaarttext{
    display: flex;
    width: 100%;
    height: 80%;
    padding: 1em;
}
.verkoopskaartrechts h3{
    text-align: center;
}

.verkoopskaarttext.section{
    justify-content: center;

}
.verkoopskaarttext.section.h3{
    justify-content: center;
}
.verkoopskaartprijs{
    display: flex;
    justify-content: end;
    background-color: rgba(233, 157, 28, 0.86);
    text-decoration-color: white;
    padding: .5em;
    height: 20%;
    width: 100%;
}
.sidebar{
    display: none;
}
.textbalk{
    margin-left: 10%;
}